.portfolio-container, .blog-container {
	background: $gray-lighter;
	margin-bottom: 1em;
	border-radius: 10px
}

.jumbotron {
	background: $brand-primary;
	color: $body-bg;
}

.portfolio-tile, .blog-tile {
	background: $body-bg;
	padding: 1em;
	border-radius: 10px;
	margin-bottom: 1em;
	transition: all 0.5s ease-in-out;
	&:hover {
		box-shadow: 0px 0px 20px 5px $brand-primary;
	}
}

.portfolio-tile {
	max-width: 100%;
	min-height: 200px;
}

img.attachment-thumbnail.wp-post-image {
	max-width: 100%;
	max-height: 100%;
}

.portfolio-heading, .blog-heading {
	padding-bottom: 1em;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	& a {
		color: $gray-darker;

		&:hover {
			color: $brand-primary;
		}
	}
}

.row.portfolio-row, .row.blog-row {
	padding-bottom: 1em;
}

@media screen and (max-width:767px) {
	.blog-tile h3 {
		text-align: center;
	}
}
