.portfolio, .blog {
	background: $brand-primary;
	margin-bottom: 1em;
}

.portfolio-tile, .blog-tile {
	background: #fff;
	padding: 1em;
}

.row.portfolio-row, .row.blog-row {
	padding-bottom: 1em;
}

@media screen and (max-width: 753px) {
	.portfolio-tile, .blog-tile {
		margin-bottom: 1em;
	}
}
